body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .weather-header {
    background-image: linear-gradient(to right, rgba(52,99,188,1), rgba(32,10,76,1));
    font-weight: bold !important;
  }

  .input-group {
    width: 100%;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999 !important;
    border-radius: 5px !important;
  }

  .input-group-append {
    width: 100%;
  }

  .search-button {
    background-color: #5098e6 !important;
    color: #fff !important;
    margin-top: 10px;
    width: 100% !important;
    border-radius: 5px !important;
  }

  .list-group {
    background-color: #aeaeae !important;
    color: #000 !important;
    margin-top: 10px;
    width: 100% !important;
    border-radius: 5px !important;
    padding: 10px;
  }

  .weather-hr hr {
    height: 1px !important;
    background-color: #333 !important;
    margin: 10px 0;
  }

  .today {
    width: 100%;
    border: 1px solid #555;
    min-height: 200px;
  }
 
  .forecast-box {
    background-color: #2d3e50;
    color: #fff;
    height: 200px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
  }

  .symbol {
    font-size: 30px;
    margin: 10px 0;
  }